.profile__edit-button {
    background-image: url(../../../image/EditButton.svg);
    margin: 0;
    margin-top: 9px;
    margin-left: 19px;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    right: 0;
    transition: visibility 0.1s, opacity 0.4s linear;
}

@media screen and (max-width: 599px) {
    .profile__edit-button {
        position: absolute;
        left: 260px;
        top: 32px;
    }
}

@media screen and (max-width: 404px) {
    .profile__edit-button {
        left: 179px;
        top: 25px;
        width: 18px;
        height: 18px;
        border: 1px solid #FFFFFF;
    }
}

.profile__edit-button:hover {
    opacity: .6;
}
