.element__image {
    width: 282px;
    height: 282px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    display: block;
}

.element__image:hover {
    cursor: pointer;
}

@media screen and (max-width: 959px) {
    .element__image {
        width: 350px;
    }
}

@media screen and (max-width: 389px) {
    .element__image {
        max-width: 282px;
    }
}