.profile__avatar {
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    max-width: 120px;
    height: 120px;
    margin-right: 30px;
    object-fit: cover;
}

@media screen and (max-width: 599px) {
    .profile__avatar {
        margin: 0;
    }
}