.popup__submit {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    padding: 14px 124px 18px 125px;
    width: 358px;
    height: 50px;
    border: none;
    background: #000000;
    color: #ffffff;
    cursor: pointer;
    border-radius: 2px;
    transition: visibility 0.1s, opacity 0.4s linear;
    margin-top: 48px;
}

.popup__submit:hover {
    opacity: .8;
}

@media screen and (max-width: 549px) {
    .popup__submit {
        padding: 14px 82px;
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
        margin-top: 20px;
    }
}